<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>Tabletist</string>
    <key>CFBundleDisplayName</key><string>Tabletist</string>
    <key>CFBundleIdentifier</key><string>dev.tabletist.Tabletist</string>
    <key>CFBundleExecutable</key><string>tabletist</string>
    <key>CFBundleIconFile</key><string>tabletist</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>__VERSION__</string>
    <key>CFBundleVersion</key><string>__BUILD__</string>
    <key>LSMinimumSystemVersion</key><string>11.0</string>
    <key>LSApplicationCategoryType</key><string>public.app-category.developer-tools</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSHumanReadableCopyright</key><string>Copyright (c) 2026 Igor Alexandrov. MIT License.</string>
</dict>
</plist>
